@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300;400;600;700&display=swap');

//fonts
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'DM Serif Display', serif;;

//text sizing

$text-sm: 1em;
$text-md: 1.5em;
$text-lg: 2em;
$text-xlg: 2.5em;


//font weight

$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;

