#botonera-index{
	background-image: url("../img/hero-bg-image.png");
	min-height: 70vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 2em;
		nav{
			font-family: $main-font;

		}
		a{
			color: white;
			font-weight: $semibold;
		}
}

#botonera-views{

	background-color: $main-color;

		nav{
			font-family: $main-font;

		}
		a{
			color: white;
			font-weight: $semibold;
		}	
}



