<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Axolote Store - Nosotros</title>
	<link rel="shortcut icon" href="../img/favicon.png">
	<!--ends favicon-->	

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" href="../css/main.css">
	<!--ends style-->
</head>
<body>
  <header class="d-flex flex-column align-items-center" id="botonera-views">
  <!-- Starts nav-->
      <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid m-0">
      <!-- Starts brand-->
      <div class="container mx-2 w-50 p-0">
      <a class="navbar-brand" href="../index.html">
      <img src="../img/brand-1.svg" alt="Logotipo de Axolote Store Stationery & Life Style" height="100">
      </a>
      </div>

      <!-- Starts toggler-->            
      <button class="navbar-toggler borde-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white borde-0" id="toggler-icon"></span>
      </button>

      <!-- Starts menu-->            
      <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav navbar-nav-scroll text-center" id="menu">
      <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="tienda.html">Tienda</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="about.html">Nosotros</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="faq.html">FAQS</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="contact.html">Contacto</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="login.html">LogIn</a>
      </li>            
      </li>
      </ul>
      </div>
      </div>

      </nav>
  </header>

  <!-- Starts Banner -->
  <div class="px-2 py-5 text-center bg-image" style="background-image: url(../img/about-image.png); height: 400px;">
    <div class="mask border border-white border-3 p-3 text-focus-in">
      <div class="d-flex justify-content-center align-items-center h-100 bg-white">
        <div class="text-white p-3">
          <p class="p-0">Conoce nuestra historia</p>    
          <h1 class="p-0">Nosotros</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card border-0 col-lg-6 col-md-12 col-sm-12 h-50 p-4"> 
      <img src="../img/about-img-1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title text-uppercase text">Organiza tu día</h2>
        <p class="card-text text-justify">Axolote Store nace de la necesidad de plasmar lo cotidiano de forma sencilla, estética y funcional. Buscamos ser el puente entre las ideas y el papel, mediante diferentes materiales, recursos, colores y texturas. Somos una marca mexicana enfocada en la conceptualización, creación y desarrollo de productos de papelería. Todos nuestros diseños están hechos con mucha dedicación y amor; y son una herramienta, además de bonita, práctica.</p>      
      </div>    
    </div>


    <div class="card border-0 col-lg-6 col-md-12 col-sm-12 h-50 purple-bg p-4">    
      <div class="card-body">
        <h2 class="card-title text-uppercase">Queremos ser parte de tus días</h2>
        <p class="card-text">Planea, documenta y organiza tus días; o bien, regálate un respiro y desconéctate un poco del mundo digital con nuestros productos. La técnica de Journaling te ayuda a plasmar en papel todo aquello que desees; es un espacio donde puedes conectarte contigo mismo y con el mundo que te rodea. Te ayudará a observar los pequeños detalles, a apreciar y capturar los momentos que hacen que la vida sea maravillosa.</p> 
      </div>      
      <img src="../img/about-img-2.png" class="card-img-top" alt="...">
    </div>
  </div>


  <!--Starts Footer-->
  <footer class="text-center text-md-start mt-3 ">
    <div class="container">
      <!--Grid row-->
      <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-12">
          <a href="../index.html"><img src="../img/brand-2.svg" alt="" width="100"></a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-5 pt-3">
          <h3 class="text-uppercase">Tienda</h3>

          <ul class="list-unstyled">
            <li>
              <a href="#">Journaling</a>
            </li>
            <li>
              <a href="#">Moda</a>
            </li>
            <li>
              <a href="#">Lifestyle</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-5 pt-3">
          <h3 class="text-uppercase">Síguenos</h3>
          <ul class="list-unstyled">
            <li>
              <a href="#">Instgram</a>
            </li>
            <li>
              <a href="#">TikTok</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>